
.v-center {
    padding-top:1%;
    font-size:30px;
    text-align: left;

}

.page {
    margin-top: 50px;
}

.page .work {
    margin: 40px;
    padding-bottom: 20px;
    background: #f8f8f8;
    border-bottom: 3px solid #279ddd;
}

.container {
    margin-left: 40px;
    margin-right: 40px;
    width: 1500px;
}

.work {
    width: 290px;
    height: 310px;
}

.title {
    width: auto;
    overflow-y: auto; 
}

.page .work .icon-awesome {
    margin-top: 15px;
    font-size: 22px;
    line-height: 22px;
}

.label-default {
    background-color: #279ddd;
    margin-bottom: 5px;
}

.numberCircle {
    border-radius: 50%;

    width: 30px;
    height: 30px;
    padding: 8px;
    margin-left: 15px;
    background: #279ddd;
    color: #FFF;
    text-align: center;
    font: 75% Arial, sans-serif;
    font-weight: bold;
}
/* create-edit */

.blog-title {
    margin-left: 170px;
    margin-bottom: 40px;
}

.glyphicon-home .glyphicon-pencil .glyphicon-envelope {
  color: #279ddd;
}

